.Header {
    display: flex;
    padding: 10px;
    /* width: 52%; */
    justify-content: space-between;
    align-items: center;
}

.gif_music img {
    width: 800px;
    height: 100px;
}

.primary-user {
    margin: 20px 0px;
    padding: inherit;
}

span {
    margin-right: 10px;

}

span[type="text"]:hover {
    color: #ff6c6c;
    text-decoration: underline;
}

.user p {
    display: flex;
    align-items: center;
    font-weight: 300;
    margin: 0;
}

.user img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}

@media screen and (max-width: 1588px) {
    .gif_music img {
        width: 700px;
        height: 100px;
    }
}

/* @media screen and (max-width: 1482px) {
    .Header {
        width: 50%;
    }
}

@media screen and (max-width: 1462px) {
    .Header {
        display: block;
        justify-content: center;
    } 

}*/