body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

:root {
    --darkColor: #15192a;
    --lightColor: white;
    --warningColor: #ff0000;

    --button: {
        border: 1px solid var(--lightColor);
        border-radius: 5px;
        background: var(--darkColor);
        color: var(--lightColor);
        padding: .5em 2em;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 14px;
        border-bottom: 5px solid var(--lightColor);
    }

    ;
    --viewportHeight: 50vh;
}

.btn {
    @apply --button;
}

.btn.warning {
    background: var(--warningColor);
}